@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --base-clr: #0F172A;    /* Deep Midnight Blue  */
    --line-clr: #1E293B;    /* Slate border */
    --hover-clr: #334155;   /* Lighter Slate */
    --text-clr: #F8FAFC;    /* Off-white text */
    --accent-clr: #39FF14;  /* Neon Cyber Lime */
    --secondary-text-clr: #94A3B8;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
    font-family: Poppins;
    line-height: 1.5em;
}
body{
	height: 100vh;
    background-color: var(--base-clr);
	color: var(--text-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  border: 1px solid #0000003f;
  border-radius: 10px;
}
dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

dialog form div {
  display: flex;
  flex-direction: column;
}

dialog form div:last-child {
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

nav{
    padding: 10px 1rem;
    border-bottom: 1px solid var(--line-clr);
}

#display-book-container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    grid-template-rows: 200px;  
    padding: 20px 1rem;
    gap: 1em;
}
#display-book-container .book{
    border: solid 1px var(--line-clr); 
    border-radius: 0.5em;
    height: auto;
    display: grid;
    padding: 10px 2rem;

}

footer{
    height: 75px;
    border-top: solid 1px var(--line-clr);
    padding: 10px 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}
footer button{
    width: 150px;
    height: 50px;
   background-color: var(--base-clr);
   color: var(--text-clr);
   border:none;
   border-radius: 0.5em;
}
#btn-add-book:hover{
    background-color: var(--hover-clr);
    color: var(--accent-clr);
}